body {
  background-image: url("img/background.jpg");
  background-size: cover;
}

.container {
  width: 60%;
  margin: auto;
  margin-top: 2%;
  background-color: RGBa(0, 0, 0, 0.5);
  border-radius: 20px;

  color: white;
  font-family: Poppins;
  padding: 5%;
}

header {
  color: #00DD00;
  font-size: 28px;
  font-weight: bold;
}

header > img {
  width: 25%;
}

header, nav {
  text-align: center;
}

nav {
  background-color: #00DD00;
  padding: 10px;
  margin: 10px 0;
}

.scooter > * {
  display: block;
}

.scooter > span:first-of-type {
  padding-left: 3px;
  font-size: 22px;
  font-weight: bold;
  margin-top: 25px;
}

.scooter > span:first-of-type:before {
  content: "\25A0"
}

.scooter > span:nth-of-type(2):before {
  content: "\21A6"
}

.scooter > .carica {
  height: 30px;
  width: 65%;
  border-radius: 5px;
}

.scooter > .carica-media {
  background-color: #F5B453;
  width: 40%;
}

.scooter > .carica-max {
  background-color: #1EC31E;
}

.scooter > .carica-minore {
  background-color: #BE4141;
  width: 17%;
}
